<header class="header">
  <div class="logo-wrapper">
    <img src="images/logo.png" alt="shoes" class="logo-wrapper" />
  </div>

  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-item">Todos os produtos</li>
      <li class="menu-item">Coleções</li>
      <li class="menu-item">Outlet</li>
    </ul>
  </nav>

  <nav class="menu-mobile">
    <img src="/images/icons/menu.png" alt="menu">
  </nav>
</header>