<footer class="footer">
  <div class="footer-inner">
    <div class="logo-footer-wrapper">
      <img src="/images/logo_inverted.png" alt="shoes" />
      <p class="logo-resume">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi,
        repellat rem aspernatur magni id ea exercitationem.
      </p>
    </div>
    <div class="menu-footer">
      <div class="categories-wrapper">
        <p>categorias</p>
        <ul class="categories">
          <li><a href="#">sandálias</a></li>
          <li><a href="#">botas</a></li>
          <li><a href="#">tênis</a></li>
          <li><a href="#">oxford</a></li>
          <li><a href="#">coturnos</a></li>
        </ul>
      </div>
      <div class="institutional-wrapper">
        <p>institucional</p>
        <ul class="institutional">
          <li>
            <a href="#">sobre nós</a>
          </li>
          <li>
            <a href="#">perguntas frequentes</a>
          </li>
          <li>
            <a href="#">política de privacidade</a>
          </li>
          <li>
            <a href="#">rastreamento de pedidos</a>
          </li>
          <li>
            <a href="#">trabalhe conosco</a>
          </li>
          <li>
            <a href="contact">contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>