<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header') %>
  </head>
  <body>
    <%- include('./partials/menu') %>

    <section class="top-section">
      <img src="/images/header.png" alt="imagem-principal" class="main-img" />
    </section>
    
    <main class="main-section">
      <section class="style-section">
        <h1>Encontre seu Estilo</h1>

        <div class="style-section-image-wrapper">
          <img src="/images/small.png" alt="saia" class="small" />
          <img src="/images/large.png" alt="jeans" class="large" />
        </div>
      </section>

      <section class="off-section">
        <h2>30% off</h2>

        <div class="products">
          <ul class="products-list">
            <li class="product">
              <a href="#">
                <figure>
                  <img
                    src="/images/prod1.png"
                    alt="scarpin salto fino básico"
                  />
                  <figcaption>
                    <p class="image-description">Scarpin salto fino básico</p>
                    <small>R$159,00</small>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li class="product">
              <a href="#">
                <figure>
                  <img
                    src="/images/prod2.png"
                    alt="scarpin salto fino básico"
                  />
                  <figcaption>
                    <p class="image-description">Scarpin salto fino básico</p>
                    <small>R$159,00</small>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li class="product">
              <a href="#">
                <figure>
                  <img
                    src="/images/prod3.png"
                    alt="scarpin salto fino básico"
                  />
                  <figcaption>
                    <p class="image-description">Scarpin salto fino básico</p>
                    <small>R$159,00</small>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li class="product">
              <a href="#">
                <figure>
                  <img
                    src="/images/prod4.png"
                    alt="scarpin salto fino básico"
                  />
                  <figcaption>
                    <p class="image-description">Scarpin salto fino básico</p>
                    <small>R$159,00</small>
                  </figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="main-product">
        <div class="outer-wrapper">
          <div class="inner-wrapper">
            <h3>Sandálias palmilha Matelassê tiras Rolotê</h3>
            <button>ver detalhes</button>
            <img src="/images/produnder1.png" alt="sandália pequena" />
          </div>

          <div class="second-wrapper">
            <img src="/images/produnder2.png" alt="sandália mate grande" />
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
